/*! = Custom site styles
-------------------------------------------------------------- */
/* General Styles */
body, 
.masthead_clean_title h1.entry-title.masthead_content_title, 
.eapps-instagram-feed-posts-grid-load-more-visible {font-family: 'Rubik', sans-serif !important;}
h1.entry-title.masthead_content_title:after {content: none;}

/* Header */

/* Logo */


/* Main menu */

@media (min-width: 992px) {
	.normal_menu .nav-primary.menu > ul > li {padding: 0;line-height: 1;}
	.normal_menu .menu > ul > li > a span {padding: 2px 30px;border-left: 2px solid #63d5ff;line-height: 1;}
	.normal_menu .menu > ul > li:last-child > a span {border-left:none;}
}

@media (min-width: 992px) and (max-width: 1600px) {
	.full_row_box .menu > ul > li a {font-size: 18px;font-weight: 500;}
	.normal_menu .menu > ul > li > a span {padding: 2px 15px;}
	.header_menu_container_inner {padding-right: 30px;}
	#branding {width: 200px !important;}
}

/* MAIN CONTENT */


